body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  background-color: white;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.weekend {
  font-family: cursive;
}

.day {
  text-decoration:underline; font-variant:small-caps;
}

.rowlabel{
  font-weight:bold;
}

table{
  border-spacing: 20px;
}

.lightswitch:hover ~ .switchable  {
   background-color: black;
}

.lightswitch:hover ~ .greeting   {
  color: white;
}